html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	
}


/* html, body {
	overflow-x: hidden;
  }
  body {
	position: relative
  } */

h1 {
	margin: 0
}


#cover {
	height: 101%;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	
	
	margin: 0;
	
}

#cover h1 {
	padding-top: 20rem;
	text-align: center;
	justify-content: center;
	font-weight: lighter;
	font-size: 6vw;
}
#cover h3{
	text-align: center;
	font-size: 2vw;
	font-weight: lighter;
}

@media only screen and (max-width: 500px) {
	#cover h1 {
		padding-top: 100%;
		
		font-size: 6vh;
	}
	#cover h3{
		text-align: center;
		font-size: 2vh;
		font-weight: lighter;
	}
}

nav {
	border-radius: 5px;
}

.truly-center-grid {
	display: grid !important;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}
.navbar-nav{
	padding-right: 6rem;
	

}

.navbar-nav a:hover{
	color:lightcoral;
	box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
	transform: translateY(-5px);
	border-radius: 20px;
}

.navbar-nav a{
	font-size: 1.3rem;
}
.navbar-nav nav-item {
	border-radius: 20px;

}

#about {
	padding: 20px;
	text-align: center;
	
}

#about p {
	width: 80%;
	margin: auto;
	text-align: left;
}

#intro {
	
	margin: auto;
	
	display: block;

	width: 20%;	
	padding-bottom: 2rem;
	
}
#intro img {
	float: left;
	
}
.typed-cursor {
	font-size: 25px;
}


#experience {
	margin: auto;
	width: 80%;
	padding: 1rem;
	
}
#experience h4, h6{
	padding-left: 8rem;
}



#experience img {
	float: left;
	padding: 1rem;
}

#experience1 {
	margin: auto;
	width: 80%;
	padding: 1rem;
	
}
#experience1 h4, h6{
	padding-left: 8rem;
}

#experience1 img {
	float: left;
	padding: 1rem;
}

@media only screen and (max-width: 500px) {
	#experience1 h4, #experience h4{
		padding-left: 8rem;
		font-size: 2.1vh;
	}
	/* #experience1 h6, #experience h6{
		padding-left: 8rem;
		font-size: 1.5vh;
	} */
	
}

#skills {
	margin: auto;
	width: 80%;
	padding: 1rem;
	
}
#skills img {
	padding: 0.5rem;
}

@media only screen and (max-width: 500px) {
	#skills {
		margin: auto;
		width: 90%;
		padding: 1rem;
		text-align: center;
		
	}
	#skills img {
		padding: 0.5rem;
	}
	
}


#contact {
	margin: auto;
	text-align: center;
	padding: 1rem;
	
}
#contact h2 {
	margin: auto;
	text-align: left;
	width: 80%;
}


#contact img {
	/* height: auto;
	width: 250px; */
	padding: 1rem;
}



footer {
	text-align: center;
}

@media only screen and (max-width: 500px) {
	
	#contact h2 {
		
		text-align: center;
		
	}
	#contact {
		width: 80%;
	}
	footer {
		font-size: 2.5vh;
		
	}
}








