
body{
	
	
	
	background-color: aliceblue;
}

p{
	font-size: 18px;

	
	
}	

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}


li{
	float:left;
	}


a{
	display: block;
	padding: 8px;
	color: white;
	font-size: 2vh;

	
}
a:hover{
	text-decoration: none;
}

nav{
	opacity: 0.92;
	height: 7%;
	

	
}

.cover{
  	/* Full height */
  	height: 100vh; 
  	font-family: "Calibri";
  	
  	
    text-align: center;
    overflow: hidden;
    position:  relative;
    

}

.cover video{
	
	position: absolute;
	top: 0;
	left: 0;


	 width:  auto;
	 height:  auto;

	
  	 overflow: : hidden;
  	 text-align: center;
  	
  	margin: 0 auto;
  	


}



#skills{
	padding-left: 10%;
	padding-right: 10%;
	padding-top:3%;

}

#aboutme{
	padding-top:3%;
	padding-left: 10%;
	padding-right: 10%;

}

#projects{
	padding-top:3%;
	padding-left: 10%;
	padding-right: 10%;

}


#resume{
	padding-top:3%;
	padding-left: 10%;
	padding-right: 10%;

}


#heading{
	
	padding-top: 34vh;
	font-size: 8vw;
	color: whitesmoke;
	position: absolute;
 
 	top: 0;
 	width: 100%




}

#subheading{


	padding-top: 54vh;
	font-size: 3.25vw;
	color: whitesmoke;
	position: absolute;
 
 	top: 0;
 	width: 100%


}

.progress{
	margin-top:2%;
	
	margin-bottom:2%;
	border-radius: 20px;
	
	
	
}
.progress-bar{
	border-radius: 20px;



}









img{
	align-self: left;
}
